<body>
    <div class="container">
        <div class="gallery">
            <figure class="item_1">
                <img src="../../assets/Jeff.jpg" class="gallery__img" alt="jeff">
            </figure>
            <figure class="item_2">
                <img src="../../assets/Marissa.jpg" class="gallery__img" alt="Marissa">
            </figure>
            <figure class="item_3">
                <img src="../../assets/Mark.jpg" class="gallery__img" alt="Mark">
            </figure>
            <figure class="item_4">
                <img src="../../assets/satya.jpg" class="gallery__img" alt="satya">
            </figure>
            <figure class="item_5">
                <img src="../../assets/sundhar.jpg" class="gallery__img" alt="Sunder pichhai">
            </figure>
            <figure class="item_6">
                <img src="../../assets/Tim.jpg" class="gallery__img" alt="Tim Cook">
            </figure>
        </div>
    </div>
</body>